
*{
    margin: 0;
    padding: 0;
}
.main{  /*MOVER RESOLUCION de ancho con el width para dispositivos Y AGREGGUE EL PADDIN BOTTOM PARA EL ALTO*/
    width: 134%;
    height: 140vh;
    background-size: contain;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    
}
.main img{
    width: 100%;
    height: auto;
}





.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
/*MODIFICA TAMAÑO DE LOGO*/
.icon{
    width: 250px;
    float: left;
    height: 200px;
    
}
.logo{
    color: white;
    font-size: 200px;
    font-family: 'Times New Roman', Times, serif;
    padding-left:none;
    padding-right: none;
    float: left;
    padding-top: 50px;
    padding-bottom: 15px;
    
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    padding-left: 0px;
    padding-top: 70px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 15px;
}
/*letras de inicio/acerca/ubicacion/ */
ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-family: 'Times New Roman', Times, serif;
}
ul li a:hover{
    color: lightskyblue;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
/*
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid lightskyblue;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}*/

.btn{
    width: 100px;
    height: 40px;
    background: black;
    border: 2px solid black;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    
    width: 1200px;
    height: auto;
    margin: auto;  
    margin-top: 150px; 
    color:white;
    position: relative;
    
}
/*LETRAS DE inicio*/
.content .par{
    padding-left: 20px;
    font-size: 35px;
    padding-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2px;
    line-height: 40px;
    
}
/*LETRA DE CATALOGO ACERCA UBICACION CONTACTO*/
.menu a{
    font-size: 28px;
    
}

.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: white;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover{
    background-color: white;
    
}

.content span{
    color: white;
    font-size: 60px;
}
/*---------------editar formulario de registro---------------*/
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)40%,lightskyblue);
    /* 
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    */
    ;
    position:0;
    top: -20px;
    left: 950px;
    border-radius: 10px;
    padding: 25px;
    
}
.letr{
    padding-top: 50px;
    padding-bottom: 150px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: lightskyblue;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid lightskyblue;
    border-top: none;
    border-right: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: lightskyblue;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.btnn:hover{
    background: white;
    color: lightskyblue;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: lightskyblue;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: white;
}

.icons ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover{ 
    color: lightskyblue;
}